In [9]:
import pandas as pd
import sqlite3

In [16]:
class Instructor(object):
    def __init__(self, id, fname, lname, city, ccode):
        self.ident = id,
        self.fname = fname
        self.lname = lname
        self.city = city
        self.ccode = ccode

    def to_tuple(self):
        return (self.ident[0],self.fname,self.lname,self.city,self.ccode,)

class DataDao(object):
    db_path = "instructor"
    def __init__(self):
        super(DataDao, self).__init__()
        self.conn = sqlite3.connect(self.db_path)
        cursor = self.conn.cursor()
        cursor.execute(self._create_instructor_table_query())
    
    def _create_instructor_table_query(self):
        return """ CREATE TABLE IF NOT EXISTS INSTRUCTOR (
                    ID INTEGER NOT NULL,
                    FNAME VARCHAR(20) NOT NULL,
                    LNAME VARCHAR(20) NOT NULL,
                    CITY  VARCHAR(20) NOT NULL,
                    CCODE CHAR (2) NOT NULL
                    );"""
    
    def close_connection(self):
        if self.conn:
            self.conn.commit()
            self.conn.close()

    def insert_instructor(self,entity: Instructor):
        sql ='INSERT INTO INSTRUCTOR VALUES (?,?,?,?,?)'
        cursor = self.conn.cursor()
        cursor.execute(sql,entity.to_tuple())
        self.conn.commit()
        return cursor.lastrowid
    
    def get_all_instructor(self):
        sql = 'SELECT * FROM INSTRUCTOR'
        return pd.read_sql_query(sql, self.conn)

In [23]:

#entryId = dao.insert_instructor(instructor)
dao = DataDao() 
instructors= dao.get_all_instructor()
dao.close_connection()

In [24]:
instructors

   ID   FNAME LNAME  CITY CCODE
0   1   Kesse   Dan  Oulu    OU
1   2  Pokuaa  Anna  Oulu    OU