In [1]:
import pandas as pd
import sqlite3

In [4]:
class Instructor(object):
    def __init__(self, id, fname, lname, city, ccode):
        self.ident = id,
        self.fname = fname
        self.lname = lname
        self.city = city
        self.ccode = ccode

    def to_tuple(self):
        return (self.ident[0],self.fname,self.lname,self.city,self.ccode,)

class DataDao(object):
    db_path = "instructor"
    def __init__(self):
        super(DataDao, self).__init__()
        self.conn = sqlite3.connect(self.db_path)
        cursor = self.conn.cursor()
        cursor.execute(self._create_instructor_table_query())
    
    def _create_instructor_table_query(self):
        return """ CREATE TABLE IF NOT EXISTS INSTRUCTOR (
                    ID INTEGER NOT NULL,
                    FNAME VARCHAR(20) NOT NULL,
                    LNAME VARCHAR(20) NOT NULL,
                    CITY  VARCHAR(20) NOT NULL,
                    CCODE CHAR (2) NOT NULL
                    );"""
    
    def close_connection(self):
        if self.conn:
            self.conn.commit()
            self.conn.close()

    def insert_instructor(self,entity: Instructor):
        sql ='INSERT INTO INSTRUCTOR VALUES (?,?,?,?,?)'
        cursor = self.conn.cursor()
        cursor.execute(sql,entity.to_tuple())
        self.conn.commit()
        return cursor.lastrowid
    
    def get_all_instructor(self):
        sql = 'SELECT * FROM INSTRUCTOR'
        return pd.read_sql_query(sql, self.conn)
    
    def create_table_and_insert_data(self,csv_file, table_name):
        data = pd.read_csv(csv_file)
        data.to_sql(table_name,self.conn)
    
    def query_with_pandas(self,query):
        return pd.read_sql(query,self.conn)

In [5]:

#entryId = dao.insert_instructor(instructor)
dao = DataDao() 
instructors= dao.get_all_instructor()
instructors

Empty DataFrame
Columns: [ID, FNAME, LNAME, CITY, CCODE]
Index: []

In [6]:
#dao.create_table_and_insert_data("../sql/PATIENTS.csv","PATIENTS")

In [8]:
dao.query_with_pandas("SELECT * FROM PATIENTS")

,index,P001,John,Doe,123456789,1990-05-15,M,123 Main St,D001
0,0,P002,Jane,Smith,987654321,1985-10-20,F,456 Oak Ave,D002
1,1,P003,Michael,Johnson,111222333,1975-03-12,M,789 Elm St,D003
2,2,P004,Emily,Brown,444555666,1980-09-25,F,321 Pine Rd,D004
3,3,P005,William,Miller,777888999,1992-11-18,M,567 Maple Ave,D003

### Install sql magic

In [5]:
%pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.3.9)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.5.0)
Requirement already satisfied: ipython>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.25.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.11.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

### Load SQL magic extension

In [6]:
%reload_ext sql

In [7]:
%sql db_engine

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Connec to database using SQL Magic

In [10]:
%sql sqlite:///file:/Users/asare/source/IBM_datascience/database/connect_with_python/instructor.db

MetaData.__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [47]:

db_file = "/".join([url,"instructor.db"])
%sql sqlite:///:memory:

MetaData.__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [38]:
db_file

'/Users/asare/source/IBM_datascience/database/connect_with_python/instructor.db'

In [29]:
%sql select * from instructor

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Could not parse SQLAlchemy URL from string '"sqlite:///file:instructor.db"'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])